<div class="container">
<h1>Dashboard</h1>

<h4>You are using <%= get_software_stats() %> licenses of your plan. <%= link_to 'Upgrade', main_app.pricing_path %></h4>
<hr>
<%= link_to 'Add Software', new_software_path, :class => 'btn btn-default' %>

<div class='container'>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Software key</th>
      <th>API key</th>
      <th>Licenses</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @software.each do |software| %>
      <tr>
        <td><%= software.name %></td>
        <td><%= software.software_key %></td>
        <td><%= software.api_key %></td>
        <td><%= get_license_count_by_software(software.id) %></td>
        <td><%= link_to 'View', software %> | <%= link_to 'Edit', edit_software_path(software) %> | <%= link_to 'Destroy', software, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Add License', new_license_path %> | <%= link_to 'View Licenses', licenses_path(:software_id => software.id) %></td>
        
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
</div>