<p id="notice"><%= notice %></p>
<div class='row'>
  <div class='col-md-4 col-md-offset-4'>
<p>
  <strong>Name:</strong>
  <%= @software.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @software.description %>
</p>

<p>
  <strong>Software key:</strong>
  <%= @software.software_key %>
</p>

<p>
  <strong>API key:</strong>
  <%= @software.api_key %>
</p>

<p>
  <strong>User:</strong>
  <%= @software.user_id %>
</p>

<%= link_to 'Edit', edit_software_path(@software) %> |
<%= link_to 'Back', softwares_path %>
</div>
</div>