

<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Loomry</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <% if current_user %>
                    <li><%= link_to 'Plan', koudoku.owner_subscriptions_path(current_user) %></li>
                    <li><%= link_to 'Dashboard', main_app.root_path %></li>
                    <li><%= link_to "Edit Profile", main_app.edit_user_registration_path %></li>
                    <li><%= link_to "Logout", main_app.destroy_user_session_path, method: :delete %></li>  
                    <% else %>
                    <li><%= link_to 'Pricing', main_app.pricing_path %></li>
                     <li><%= link_to "Login", main_app.new_user_session_path %></li>
                     <li><%= link_to "Sign Up", main_app.new_user_registration_path %></li>
                     
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>